Repository VladOstk/foreign-exchange: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --fix

add prettier config
  .prettierrc
Due: none

run test:ci on commit
  .lintstagedrc.json
Due: none

fix eslint command
  .lintstagedrc.json
Due: none

fix test:ci command
  .husky/pre-commit
  .lintstagedrc.json
  angular.json
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --ignore-path .gitignore --fix

run tests against staged changes on commit and on push
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  angular.json
  jest.config.js
  package-lock.json
  package.json
  setup-jest.ts
  tsconfig.spec.json
Due: prettier --write, eslint --ignore-path .gitignore --fix

disable redundant eslint rule
  eslint.config.js
Due: prettier --write, eslint --ignore-path .gitignore --fix

install testing-library/angular
  package-lock.json
  package.json
Due: none

add style variables add core styles
  src/index.html
  src/styles.scss
  src/styles/variables.scss
Due: prettier --write

create page not found component
  src/app/features/page-not-found/page-not-found.component.html
  src/app/features/page-not-found/page-not-found.component.scss
  src/app/features/page-not-found/page-not-found.component.spec.ts
  src/app/features/page-not-found/page-not-found.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

create card view feature component create grid view feature component
  src/app/features/card-view/card-view.component.html
  src/app/features/card-view/card-view.component.scss
  src/app/features/card-view/card-view.component.spec.ts
  src/app/features/card-view/card-view.component.ts
  src/app/features/grid-view/grid-view.component.html
  src/app/features/grid-view/grid-view.component.scss
  src/app/features/grid-view/grid-view.component.spec.ts
  src/app/features/grid-view/grid-view.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

create add currency button create add currency dialog
  src/app/shared/components/add-currency-button/add-currency-button.component.html
  src/app/shared/components/add-currency-button/add-currency-button.component.scss
  src/app/shared/components/add-currency-button/add-currency-button.component.spec.ts
  src/app/shared/components/add-currency-button/add-currency-button.component.ts
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.html
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.scss
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.spec.ts
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

create button group component
  src/app/shared/components/button-group/button-group.component.html
  src/app/shared/components/button-group/button-group.component.scss
  src/app/shared/components/button-group/button-group.component.ts
  src/app/shared/components/button-group/models.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

create routes
  src/app/app.routes.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

create navigation bar component
  src/app/shared/components/navigation-bar/models.ts
  src/app/shared/components/navigation-bar/navigation-bar.component.html
  src/app/shared/components/navigation-bar/navigation-bar.component.scss
  src/app/shared/components/navigation-bar/navigation-bar.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

use navigation bar component
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

move page not found component
  src/app/shared/components/page-not-found/page-not-found.component.html
  src/app/shared/components/page-not-found/page-not-found.component.scss
  src/app/shared/components/page-not-found/page-not-found.component.spec.ts
  src/app/shared/components/page-not-found/page-not-found.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

add environments for api urls
  angular.json
  src/environments/constants.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
  src/environments/models.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

setup ag-grid
  package-lock.json
  package.json
  src/app/shared/components/grid/grid.component.html
  src/app/shared/components/grid/grid.component.scss
  src/app/shared/components/grid/grid.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

create alpha vantage infrastructure service
  src/app/shared/infrastructure/alpha-vantage-api/alpha-vantage-api.service.ts
  src/app/shared/infrastructure/alpha-vantage-api/models.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

create currency pair manager service
  src/app/shared/services/currency-pair-manager/currency-pair-manager.service.ts
  src/app/shared/services/currency-pair-manager/models.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

add currency dialog
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.html
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.spec.ts
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

add grid-view feature
  src/app/features/grid-view/grid-view.component.html
  src/app/features/grid-view/grid-view.component.scss
  src/app/features/grid-view/grid-view.component.spec.ts
  src/app/features/grid-view/grid-view.component.ts
  src/app/features/grid-view/grid-view.service.ts
  src/app/features/grid-view/models.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

add missing model
  src/app/features/grid-view/constants.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

provide httpclient
  src/app/app.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

fix responsive styles
  src/app/app.component.scss
  src/styles.scss
Due: prettier --write

fix route import
  src/app/app.routes.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

update currencyManager state
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

format date in grid
  src/app/features/grid-view/constants.ts
  src/app/shared/components/grid/models.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

transform button-group into link-button-group
  src/app/shared/components/button-group/button-group.component.html
  src/app/shared/components/button-group/button-group.component.ts
  src/app/shared/components/button-group/models.ts
  src/app/shared/components/link-button-group/link-button-group.component.html
  src/app/shared/components/link-button-group/link-button-group.component.scss
  src/app/shared/components/link-button-group/link-button-group.component.ts
  src/app/shared/components/link-button-group/models.ts
  src/app/shared/components/navigation-bar/navigation-bar.component.html
  src/app/shared/components/navigation-bar/navigation-bar.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

add grid fromatters
  src/app/features/grid-view/constants.ts
  src/app/features/grid-view/grid-view.component.scss
  src/app/features/grid-view/utils.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

add currency pair form validators
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.html
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

lazy load initial component
  src/app/app.component.html
  src/app/app.routes.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

validate api data schema
  package-lock.json
  package.json
  src/app/shared/infrastructure/alpha-vantage-api/alpha-vantage-api.service.ts
  src/app/shared/infrastructure/alpha-vantage-api/models.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

create currency pair card
  src/app/shared/components/currency-pair-card/currency-pair-card.component.html
  src/app/shared/components/currency-pair-card/currency-pair-card.component.scss
  src/app/shared/components/currency-pair-card/currency-pair-card.component.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

handle network errors in add currency dialog
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.html
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.ts
  src/app/shared/components/add-currency-dialog/add-currency-dialog.service.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

implement card view feature
  src/app/features/card-view/card-view.component.html
  src/app/features/card-view/card-view.component.scss
  src/app/features/card-view/card-view.component.ts
  src/app/features/grid-view/grid-view.component.scss
  src/app/shared/components/currency-pair-card/models.ts
  src/styles/variables.scss
Due: prettier --write, eslint --ignore-path .gitignore --fix

implement page not found component
  src/app/shared/components/page-not-found/page-not-found.component.html
  src/app/shared/components/page-not-found/page-not-found.component.scss
Due: prettier --write

update currency-card styles
  src/app/shared/components/currency-pair-card/currency-pair-card.component.scss
  src/styles/variables.scss
Due: prettier --write

add unit test examples
  package.json
  src/app/shared/components/add-currency-button/add-currency-button.component.html
  src/app/shared/components/add-currency-button/add-currency-button.component.spec.ts
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.html
  src/app/shared/components/add-currency-dialog/add-currency-dialog.component.spec.ts
  src/app/shared/components/add-currency-dialog/add-currency-dialog.service.spec.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix

install cypress
  angular.json
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint --ignore-path .gitignore --fix

Path conditions:
  prettier --write: (any of: *.{css,scss}) or (any of: *.{js,ts})
  eslint --ignore-path .gitignore --fix: any of: *.{js,ts}
